div.Table-container {
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
  border-top: 1px solid #E1E1E1;
}

div.Line {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
}

div.Box {
  width: 50px;
  border-right: 1px solid #E1E1E1;
}

div.Box > div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

div.Box > div:last-of-type {
  border-top: 1px dotted #E1E1E1;
}

div.Content {
  width: calc(100% - 50px);
  position: relative;
}

div.Content > div:first-of-type {
  width: 100%;
  height: 50%;
}

div.Content > div:last-of-type {
  width: 100%;
  border-top: 1px dotted #E1E1E1;
}
