div.Event {
  border-left: 5px solid #AB2C2E;
  border-radius: 3px;
  position: absolute;
  box-sizing: border-box;
}

div.Body {
  height: 100%;
  width: 100%;
  background-color: #EFC9CA;
  opacity: 0.6;
  border-radius: 3px;
}

p.Title {
  position: absolute;
  z-index: 1;
  width: 20px;
  left: 0;
  top: 0;
  font-weight: bolder;
  margin: 0;
  font-size: x-small;
  color: #AB2C2E;
}
