.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-left: 50px;
  height: 50px;
}
header.App-header > button {
  border: 1px solid gray;
  background: none;
  padding: 5px 10px;
  color: gray;
  border-radius: 3px;
  margin-right: 15px;
  cursor: pointer;
}
header.App-header > p {
  color: gray;
  margin: 0 10px;
  cursor: pointer;
}
header.App-header > span {
  padding-bottom: 2px;
  color: gray;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
